/* Estilos para el formulario Nuevo Artículo */

/* Contenedor principal del formulario */

.form-nuevo-articulo {
    max-width: 1000px;
    margin: 2vh auto;
    padding: 20px;
}


.rounded {
    border: 1px solid var(--cl-dark-gray);
    border-radius: 1vh;
    padding: 8px 12px;
    background-color:rgb(from var(--cl-white) r g b / 0.6);
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.form-group label:not(.radio-label) {
    margin-bottom: 5px;
    font-weight: 400;
}

.form-control {
    width: 100%;
    box-sizing: border-box;
}

/* --- Fila Superior  --- */
.main-inputs {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr 1fr;
    gap: 20px;
    margin-bottom: 20px;
}

/* --- Fila Principal (Izquierda y Derecha) --- */
.description-image-row {
    display: grid;
    grid-template-columns: 3fr 1fr; 
    gap: 30px;
}

/* --- Sub-fila de Selects --- */
.select-row {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    align-items: center;
    gap: 20px;
}

/* --- Sección de Alérgenos --- */
.alergenos-section {
    border: 1px solid #000;
    padding: 15px;
    margin-top: 20px;
}

.alergenos-label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.alergenos-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.radio-label {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    cursor: pointer;
}


.radio-label input[type="radio"] {
    accent-color: var(--primary-color);
    transform: scale(1.2); 
}

/* --- Columna de Imagen Derecha --- */
.image-upload-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}

.image-placeholder {
    width: 100%;
    height: 100%;
    min-height: 250px;
    border: 1px solid var(--cl-dark-gray);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(from var(--cl-white) r g b / 0.6);
    margin-bottom: 10px;
}

.upload-link {
    color: var(--cl-dark-gray);
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}

.option-style{
    margin: 0;
    color: var(--cl-dark-gray);
}

label.imput-style{
    font-weight: 100;
}

#descripcion {
    resize: none; 
}

/* --- Responsive para móviles (Opcional) --- */
@media (max-width: 768px) {
    .main-inputs,
    .description-image-row,
    .select-row,
    .alergenos-grid {
        grid-template-columns: 1fr; /* Todo a 1 sola columna en móvil */
    }
    .image-placeholder {
        height: 200px;
    }
}

label{
    font-weight: 300;
}

.labels{
    font-weight: 300;
}

.cont-cargaMasiva{
    height: 400px;
    width: 1000px;
    background-color: rgb(from var(--cl-white) r g b / 0.6);
}
