/* --- ESTADOS DE PEDIDO --- */
@import url("./style.css");

.estado-pendiente {
    color: var(--cl-orange);
    font-weight: bold;
}

.estado-procesado {
    color: var(--cl-green-primary); /* Verde */
    font-weight: bold;
}

.estado-desconocido {
    color: var(--cl-black);
    font-weight: bold;
}

/* --- BOTONES DE ACCIÓN (SVG) --- */
.acciones-container {
    display: flex;
    gap: 5px;
    justify-content: center;
}

.btn-accion {
    padding: 4px 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cl-white);
}

.btn-accion svg {
    width: 16px;
    height: 16px;
}

.btn-editar {
    background-color: var(--cl-green-primary);
}

.btn-editar:hover {
    background-color: var(--cl-green-primary-light);
}
.btn-borrar {
    background-color: var(--primary-color);
}

.btn-disabled {
    opacity: 0.5;
    pointer-events: none;
}

/* --- LÍNEAS DE PEDIDO (Formulario) --- */
.linea-prod-select {
    width: 100%;
}

.linea-cant-input {
    text-align: center;
}

.celda-moneda {
    text-align: right;
    font-weight: bold;
}

.celda-centrada {
    text-align: center;
}