@import url("./style.css");
.menu-articulos{
    width: 100%;
    display: flex;
    justify-content:flex-start;
}
/* Style the tab */
.tab {
  display: flex;
  /* border: 1px solid var(--cl-black);
  background-color: var(--cl-dark-gray); */
  justify-content: flex-start;
  width: 100%;
  margin-top: 0;
  max-width: 1000px;
  
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 0;
  padding: 5px 16px;
  transition: 0.3s;
  color: var(--cl-black);
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: var( --cl-light-gray);
}

/* Create an active/current tablink class */
.tab button.active {
  /* background-color: #ccc; */
  border-bottom: 3px solid var(--primary-color);
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  /* border: 1px solid #ccc; */
  border-top: none;
}

.crear-articulo{
    width: 100%;
    max-width: 1000px;
}