@import url("./style.css");
.cabecera-articulos{
    
}
.controles {
    margin-bottom: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
}

input,
select,
button {
    padding: 0.6rem 1rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 0.9rem;
}

button {
    background: var(--cl-black);
    color: var(--secondary-color);
    cursor: pointer;
    border: none;
    transition: 0.2s;
}

button:hover {
    background: var(--primary-color);
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

th,
td {
    border: 1px solid #ddd;
    padding: 0.5rem;
    text-align: left;
}

th {
    background: #e0e0e0;
}

tr.alerta {
    background: #ffe4e1;
}

tfoot td {
    font-weight: bold;
    background: #f4f4f4;
}
.acciones button{
    margin: 1vh;
}

