*{
    margin: 0;
    padding: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


body{
    background-color: antiquewhite;
    display: grid;
    grid-template-areas: "header"
                         "main"
                         "footer";
    grid-template-rows: 2fr 6fr 1fr;
    height: 100vh;
    justify-items: center;
}

header{
    grid-area: header;
    /* background-color: aqua; */
    display: flex;
    flex-direction:column;
    align-items: center;
    width: 100%;
}

.cabecera{
    width: 96%;
    height: 50%;
    padding: 2%;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.logos-externos{
    height: 70px;
    /* background-color: white; */
    display: flex;
    gap: 10px;
}

.logo-gobierno{
    height: 60px;
    border: 1px solid black;
    width: 200px;
    /* background-color: rgb(44, 161, 161); */

}

.logo-smart-cabecera{
    height: 60px;
    width: 300px;
    border: 1px solid black;
    /* background-color: aquamarine; */
}

.logo-smart-cabecera{
    display: flex;
     justify-items: center;

}

.menu{
        
       border: 1px solid black; 
       border-radius: 2vh;
       display: flex;
       flex-wrap: nowrap;
       /* align-content: center; */
       width: 85%;
       height: auto;
       overflow: hidden;
}

.navbar{
/*     width: auto; */
    height: 40px;
 /*    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    border-radius: 2vh;*/
    padding: 1vh; 
    width: 100%;
}

.navbar ul{

    text-decoration: none;
    list-style: none;
    
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;

    padding: 0;
    margin: 0;

    justify-items: center;
    align-items: center;
    height:100%;
    width: 100%;
    cursor: pointer;

}

.navbar li{
    align-content: center;
    padding-bottom: 2vh;
    justify-items: stretch;

}

.menu-toggle {
    display: none;
    background-color: transparent;
    border: none;
    font-size: 3rem;
    cursor: pointer;
    margin: 10px;
}

li:hover{
    height: 100%;
    background-color: aliceblue;
}

.boton{
    
    /* background-color: yellow; */
    padding: 5px 14px;
    height: 100%;
    border-radius: 5px;


}

main{
    grid-area: main;
    /* background-color: blue; */
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    justify-content: center;
    align-items: center;
    padding: 2% 0;
    max-width: 1200px;
    overflow: scroll;
}

.acceso-directo{
    border: 1px solid black;
    min-width: 300px;
    height: 35%;
    /* background-color: beige; */
    border-radius: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 20px;
}

.bt-acc-dir{
    max-width: 200px;
    padding: 5px;
    background-color: white;
    border-radius: 1vh;
    border: 1px solid black;

}

footer{
    border-top: 1px solid black;
    grid-area: footer;
    /* background-color: chocolate; */
    width: 100%;
    text-align: center;
    padding: 2% 0;
}

/*MEDIA QUERIES*/

@media screen and (max-width:850px){
    header{
        display: flex;
        flex-direction: row;
    }
    
    
    .navbar{
        background-color: gray;height: auto;
        
        border-radius: 0%;

    }
    .navbar ul {
        flex-direction: column;
        align-items: flex-start;
        background-color: gray;
        width: 100%;
        display: none;
    }

    .navbar ul.active{
        display: flex;
    }

    .menu-toggle{
        display: block;
    }
    
}